<%-include('./partials/header') %>

<% setOfQues.reverse().forEach((ques, i)=>{ %>
    <div class="container question-block">
    <h2 class="ques-title"><%= ques.title%></h2>
    <p class="ques-body"><%= ques.body.substr(0, 300) + '...' %></p>
    <p class="ques-tag"><%= ques.tags %></p>
    <a class="btn ans-btn" href="/answer/<%=ques.id%>">Answer</a>
    </div>
  <% }) %>


<%-include('./partials/footer') %>
